@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("tree.jpg");
    background-size: cover;
    /* overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
     */

}
html{
    scroll-behavior: smooth;
}

.container{  
 width: 1000px;
 margin: auto;
 gap:5px;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: 1fr 2fr 2fr  1fr;
 grid-template-areas: 
 "header header header"
 "menu"
 "section content"

 

}
/* header start */
header{
    height: 100px;
    border-bottom: 2px solid rgb(255, 255, 255,0.06);
}
header nav {
display:flex ;
justify-content: space-between;
align-items: center;
height: 100px;  
}
header nav .nilay a {
    color: rgb(214, 210, 206);
    text-decoration:none;
    font-weight: 700;
    font-size: 20px;
    text-shadow: plum;
}
/* .nilay .icon{
cursor: pointer;
background-color: rgb(214, 210, 206);
border-radius: 20%;


} */
    nav ul {
list-style: none;
display: flex;
column-gap: 30px;
    }
nav ul li a{
color: rgb(214, 210, 206);
text-decoration: none;
transition: color .25s ease;

}
nav ul li a:hover{
    color: rgb(87, 84, 84);
    
    }
nav menu{
    display: flex;
    align-items: center;
    column-gap: 48px;
}
nav .menu .menu-button{
    
    color:  rgb(214, 210, 206);
    text-decoration: none;
    background-color: rgb(255, 255, 255,0.08);
    padding: 12px 24px;
    border-radius: 56px;
    transition: all .25s ease;
    font-size: 12px;
}
nav .menu .menu-button:hover{
    background-color:rgb(136, 27, 63);
    color: silver;
    
    
}
/* header end */
/* section start */
.content{
color: rgb(214, 210, 206);
height:calc(100vh-100px);
padding-top: 150px; 
}
.content h1{
    font-size: 60px;
    text-align: center;
    }

    .content p{
        font-size: 20px;
        text-align: center;
        margin-top: 32px;
        justify-items: center;
        word-break: keep-all;
        }
    
      
/* section end */
/* responsive start */
@media(max-width:576px){
.container{
    width:100%;;
padding-left: 12px;
padding-right: 12px;
}

.menu ul {
column-gap: 20px;
}
.menu .menu-button{
    display: none;
}

}
.content{
    padding-top: 50px;
}
.content h1 {
   font-size:36px ;
}
.content .works_resim{
width: 30%;
margin: 18px;
padding-top: 50px;
float: none;
}
/* .icon{

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    color:var(--defaultBackground);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 10px;
    color: aliceblue;
    font-weight: bold;
} */



@media screen and (max-width:780px) {
    .container{
        width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 30% 30% 10%;
        grid-template-areas: 
        "header"
        "nav"
        "menu"
        "section"
        "content";
    }
    .panel:nth-of-type(4){
        display: none;

    }
    .panel:nth-of-type(5){
        display: none;

    }
}
/* responsive end */